*
{
    font-family: 'Baloo', cursive;
}
body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5vw;
    background-color: #A2E8F4;
}
main
{
    width:960px;
    height: 100%;
    margin: 220px auto 30px auto;
    outline: blue dotted 2px;
}
img[title="hero"]
{
    height: 450px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: gray 2px ridge;
    border-radius: 10px gray ridge;
}
#bodyBlock section
{
    margin-top: 30px;
    overflow: scroll;
    height: 400px;
    
}
section > h2
{
    text-align: center;
    font-size: 2.5vw;
    border-bottom: 2px gray ridge;
}
section > img
{
    float: left;
    border-radius: 10px;
    margin: 30px;
    border: gray 2px ridge;
    border-radius: 10px gray ridge;
}
.bodyBlock
{
    font-size: 1.5vw;
    border: 1px gray solid;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(170, 216, 216);
}