*
{
    font-family: 'Baloo', cursive;
}
body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5vw;
    background-color: #A2E8F4;
}
main
{
    width:960px;
    margin: 220px auto 30px auto;
    outline: blue dotted 5px;
}
img[title="hero"]
{
    height: 450px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: gray 2px ridge;
    border-radius: 10px gray ridge;
}
section
{
    margin-top: 30px;
    overflow: scroll;
    height: 400px;
    
}
section > h2
{
    text-align: center;
    font-size: 2.5vw;
    border-bottom: 2px gray ridge;
    /* display: inline; */
}
section > img
{
    float: left;
    border-radius: 10px;
    margin: 30px;
    border: gray 2px ridge;
    border-radius: 10px gray ridge;
}
.bodyBlock
{
    font-size: 1.5vw;
    border: 1px gray solid;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(170, 216, 216);
}
/* Storefront */
#storeFront * img
{
    opacity: 1;
    position: absolute;
    height: 500px;
    width: 435px;
}
#storeFront * img:hover
{
    opacity: .3;
}
img[title=fish]
{
    position: absolute;
    left: 15%;
    top: 45%;
}
img[title=cutme]
{
    position: absolute;
    right: 15%;
    top: 45%;
}
img[title=pillow]
{
    position: absolute;
    width: 100%;
    right: 15%;
    top: 145%;
}
img[title=shirt]
{
    position: absolute;
    left: 15%;
    top: 145%;
}
#fish
{
    position: absolute;
    left: 15%;
    top: 45%;
}
#cutme
{
    position: absolute;
    right: 15%;
    top: 45%;
}
#pillow
{
    position: absolute;
    width: 100%;
    right: 15%;
    top: 145%;
}
#shirt
{
    position: absolute;
    left: 15%;
    top: 145%;
}
#storeFront > div
{
    position: absolute;
    width: 435px;
    height: 500px;
}